*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    display: flex;
    flex-direction: column;
    background-image: url('https://images.pexels.com/photos/707837/pexels-photo-707837.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    height: 100vh;
}
.main span{
    display: flex;
    justify-content: center;
}
.main button{
    width: 25vh;
    height: 25vh;
    margin: 4px;
    border: 1px solid black;
}
.FontSize{
    font-size: 90px;
}
.formAns{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(190,210,218,1) 39%, rgba(28,165,205,1) 85%, rgba(219,202,206,1) 100%, rgba(0,212,255,1) 100%);
}
form{
    background-color: rgba(124, 98, 98, 0.4);
    padding:  50px 100px 50px 100px;
}
label{
    font-size: 22px;
}
input{
    margin: 7px 0px;
}
h1{
    padding-bottom: 30PX;
}
@media (max-width:400px) {
    form{
        padding:  50px;
    }
    
}